Repository gdscsmit/gdscsmit.github.io, pull requests merged in 2023-10, with the labels that each got.

#18 updtaed styling of contact form and yt video
  package-lock.json
  src/Components/Contact.jsx
  src/Components/Home.jsx
  src/index.css
Labels: enhancement, good first issue, hacktoberfest, hacktoberfest-accepted

#19 Added firebase support to save all form submissions to DB
  package-lock.json
  package.json
  src/Components/Contact.jsx
  src/firebaseConfig.js
Labels: enhancement, hacktoberfest, hacktoberfest-accepted

#17 Fix all the issue of navbar as per #12
  package-lock.json
  package.json
  src/Components/Contact.jsx
  src/Components/Navbar.jsx
  src/firebaseConfig.js
  src/index.css
Labels: enhancement, hacktoberfest, hacktoberfest-accepted

#23 Add dynamic year copyright in the footer
  src/Components/Footer.jsx
Labels: hacktoberfest, hacktoberfest-accepted, bugfix

#16 Create different sections for different domain core members
  src/Components/Team.jsx
Labels: enhancement, good first issue, hacktoberfest, hacktoberfest-accepted

#36 FEAT: Modified contact page UI
  src/Components/Contact.jsx
  src/firebaseConfig.js
  src/main.jsx
Labels: hacktoberfest, hacktoberfest-accepted, bugfix

#39 bottom to top
  package-lock.json
  package.json
  src/Components/Home.jsx
  src/Components/gototop.jsx
  src/index.css
Labels: enhancement, good first issue, hacktoberfest, hacktoberfest-accepted

#47 fix bug : #43 Contact Form Image shrinks in smaller screens
  src/Components/Contact.jsx
  src/index.css
Labels: enhancement, good first issue, hacktoberfest, hacktoberfest-accepted, bugfix

#64 FEAT: Updated Blog page UI and Added Seperate Page to Show Single Blog
  package-lock.json
  package.json
  src/Components/Blog.jsx
  src/Components/BlogPage.jsx
  src/Components/Blogs.jsx
  src/Components/Contact.jsx
  src/constants/TeamImages.js
  src/index.css
  src/main.jsx
Labels: enhancement, hacktoberfest, hacktoberfest-accepted

#72 feat:Transistion+Hover+UI Updated in Home
  src/Components/Home.jsx
  src/Components/Vision.jsx
  src/index.css
Labels: enhancement, hacktoberfest, hacktoberfest-accepted

#62 Fix #7 : Create a workflow that deploys a preview in the gh-pages
  .github/ISSUE_TEMPLATE/bug.yml
  .github/ISSUE_TEMPLATE/docs.yml
  .github/ISSUE_TEMPLATE/feature.yml
  .github/ISSUE_TEMPLATE/styles.yml
  .github/workflows/greetings.yml
Labels: question

#78 Nav bar
  src/Components/Navbar.jsx
  src/index.css
Labels: enhancement, good first issue, hacktoberfest

#80 "Added Footer section"
  public/img/GDSC.png
  src/Components/Footer.jsx
  src/Components/Home.jsx
  src/index.css
Labels: enhancement, hacktoberfest, hacktoberfest-accepted, bugfix

#83 Modal for Contact Form Submission
  src/Components/Contact.jsx
  src/index.css
Labels: enhancement, help wanted, hacktoberfest

#87 fix alignment of social icons
  src/Components/Footer.jsx
Labels: good first issue, question, hacktoberfest, bugfix

#96 Updated README.md file
  README.md
Labels: documentation, hacktoberfest, hacktoberfest-accepted

#100 Update Readme
  README.md
Labels: documentation, good first issue, hacktoberfest, hacktoberfest-accepted
